.card-display {
    width: 300px;
    height: 180px;
    background: linear-gradient(45deg, #0045c7, #ff2c7d);
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s;
    backface-visibility: hidden;
    position: relative;
    margin: 10px;
    border-radius: 10px;

}

.card-display:hover {
    transform: rotateY(-180deg);
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    border-radius: 10px;

}

.card-number {
    font-size: 18px;
    margin-top: 50px;

}

.expiration-date {
    font-size: 16px;

    margin-top: 10px;

}

.card-holder {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
}

.bar {
    background: #222;
    margin-left: -20px;
    margin-right: -20px;
    height: 40px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 10px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
}

.card-text {
    margin-top: 15px;
    font-size: 12px;
}

.signature {
    margin-top: 10px;
}